.info{
    padding: 15px;
    border-right: 1px solid #f2f2f4;
    font-size: 0.8rem;
}
.info .info-desc{
    text-align: right;
    font-weight: bold;
}
.info .info-desc, .info .info-title
{
    margin-bottom: 12px;
    white-space: nowrap;
}
.info .info-desc:last-of-type, .info .info-title:last-of-type
{
    margin-bottom: 0;
}
.extra-m
{
    margin-top: 18px;
}
.info-desc span.active{
    color: #1bc175
}
.info-desc span.active > svg{
    margin-right: 6px;
}
@media (max-width: 991px)
{
    .info{
        border-right: none;
        border-bottom: 1px solid #f2f2f4;
    }
    .info .info-title
    {
        margin-bottom: 4px;
    }
    .info .info-desc{
        text-align: left;
    }
    .info .info-desc:last-of-type
    {
        margin-top: 0 !important;
    }
}